# PyCharm
.idea/
*.iml

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Build artifacts
build/
dist/
*.egg-info/

# OS
.DS_Store
Thumbs.db





